.nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: block;
    top: 0;
    height: 55px;
    &__hamburger {
        position: fixed;
        z-index: 15;
        color: white;
        padding: 20px;
        display: block;
        right: 0;
    }
    &__hamburger--first-line,
    &__hamburger--second-line,
    &__hamburger--third-line {
        background-color: $dark-orchid;
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 5px;
        //        box-shadow: 0px 0px 30px #ad38c4;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transition: transform .15s ease-in-out, background-color .5s ease-in-out, box-shadow .5s ease-in-out;
        -webkit-transition: transform .15s ease-in-out, background-color .5s ease-in-out, box-shadow .5s ease-in-out;
    }
    &__hamburger:hover>&__hamburger-line {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
        transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
        -webkit-transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
        background-color: lighten($dark-orchid, 50%);
    }
    &__hamburger--is-open &__hamburger--first-line {
        margin-top: 4px;
        margin-bottom: -1px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    &__hamburger--is-open &__hamburger--second-line {
        margin-bottom: -2px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    &__hamburger--is-open &__hamburger--third-line {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    &__menu {
        position: relative;
        z-index: 10;
        background-color: rgba(35, 35, 35, 0.8);
        width: 100vw;
        height: 100vh;
        transform: translateY(calc(-100% + 55px));
        -webkit-transform: translateY(calc(-100% + 55px));
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
    }
    &__menu--is-open {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
    }
    //    &__menu-title {
    //        text-transform: uppercase;
    //        font-size: $largest-font;
    //        font-family: $mono-font;
    //        color: $darker-grey;
    //        position: relative;
    //        left: 0;
    //        right: 0;
    //        text-align: center;
    //        top: -100px;
    //    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: 25vh;
    }
    &__list li a {
        color: white;
        display: block;
        padding: 10px;
        @include subtitle-font;
        position: relative;
        -webkit-transition: color 0.3s ease-in-out 0s;
        transition: color 0.3s ease-in-out 0s;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $dark-orchid;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: transform 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
            transition: transform 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
        }
        &:hover,
        &:focus {
            color: $dark-orchid;
            text-decoration: none;
            -webkit-transition: color 0.3s ease-in-out 0s;
            transition: color 0.3s ease-in-out 0s;
            &:after {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition: transform 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
                transition: transform 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
            }
        }
    }
}