body {
    height: 100%;
//    overflow-x: hidden;
    width: 100%;
    background-color: black;
}

body,html {
    width: 100%;
    height: 100%;
}

a {
    color: white;
    display: block;
    &:hover,
    &:focus {
        color: $dark-orchid;
        text-decoration: none;
    }
}

.blurred-content__frame {
    overflow-y: hidden;
    display: block;
    z-index: 2;
    height: 55px;
    text-align: center;
    margin: 0 auto;
    top: 0;
    position: fixed;
    width: 100%;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    //    transform:translateY(-100%);
    //    transition: transform 0.5s ease-out;
    //    -webkit-transition: transform 0.5s ease-out;
}

.blurred-content__frame--is-open {
    height: 100%;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    //    transform:translateY(0);
    //    transition: transform 0.5s ease-in;
    //    -webkit-transition: transform 0.5s ease-in;
}

.blurred-content {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
    right: 5vw;
    left: 0;
    top: 0;
    position: absolute;
    filter: blur(20px);
}

.overlay__contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 45px;
}

.overlay__content {
    width: 85%;
    text-shadow: 0px 20px 10px black;
    display: block;
    
    @media screen and (max-width: 750px) {
        top: 0;
        width: 100%;
        padding: 20px;
    }
}

img {
    @media screen and (max-width: 750px) {
        width: 100px;
    }
}

.overlay__content a {
    display: flex;
    align-self: center;
    display: block;
    padding: 30px;
}

.overlay__title {
    font-size: 50px;
    border-bottom: 4px solid white;
    margin-bottom: 30px;
}

.overlay__txt {
    font-size: 30px;
}

.overlay {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    color: white;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    
    @media screen and (max-width: 750px) {
        height: 150%;
        display: block;
        top: 0;
    }
    
    @media screen and (max-width: 450px) {
        height: 225%;
    }
}