$light-grey: #a0a0a0;
$medium-grey: #636363;
$dark-grey: #3d3d3d;
$darker-grey: #1c1c1c;
$black: #000000;

$red: #ff0000;
$blue: #4c70ff;

$light-orchid: rgb(213,96,236);
$dark-orchid: rgb(173,56,196);
$dark-orchid-05: rgba(173,56,196,0.5);
